
<div id="header">
	<nav id="menu">
		<div id="profileMenu">
			<img id="profilePic" src="images/profile.png" width="60px" height="60px"/>
			<h1>Josefine Möller</h1>
			<div id="myEggs">
				<img src="images/myeggs.png" width="40px" height="40px"/>
				<p>My eggs</p>
			</div>
		</div>
      	<h2>My egg profile</h2>
      	<h2>Egg videos</h2>
      	<h2>Log out</h2>
	</nav>
	<main id="panel">
		 	<header>
			<button class="toggle-button">
				<img id="burger" src="images/burgermenu.png" width="35px" height="35px">
			</button>
			</header>
	</main>
</div>
<script>
	var slideout = new Slideout({
	'panel': document.getElementById('panel'),
	'menu': document.getElementById('menu'),
	'padding': 256,
	'tolerance': 70
	});

	// Toggle button
	document.querySelector('.toggle-button').addEventListener('click', function() {
	slideout.toggle();
	});
</script>
