<ng-include ng-controller="boilCtrl"></ng-include>
<div id="menuHeader">
	<nav id="menu" ng-init="initMenu()">
		<div id="profileMenu">
			<img id="profilePic" src='{{userPhoto}}' width="60px" height="60px"/>
			<h1 style="text-align:center;">{{userName}}</h1>
		</div>
		<a href="#/newegg" ng-class="{'activeMenu':path == '/newegg'}" ng-click="closeMenu('newegg')"><h2>New egg</h2></a>
      	<a href="#/profile" ng-class="{'activeMenu':path == '/profile'}" ng-click="closeMenu('profile')"><h2>My eggs</h2></a>
      	<a href="#/videos" ng-class="{'activeMenu':path == '/videos'}" ng-click="closeMenu('videos')"><h2>Egg videos</h2></a>
      	<a href="" ng-click="signOut()"><h2>Sign Out</h2></a>
	</nav>

	<main id="panel">
		 	<header>
		 		<div class="col-xs-12">
			 		<div class="col-xs-2">
							<img class="toggle-button" id="burger" src="images/burgermenu.png" width="40px" height="40px">
					</div>
					<div class="col-xs-10">
						<h1 style="margin-left:18px;">{{header}}</h1>
					</div>
				</div>
			</header>
	</main>
</div>
<div id="opacityContent" ng-click="closeMenu()"></div>
<script>

//Försöka flytta till en controller sen
	var slideout = new Slideout({
	'panel': document.getElementById('panel'),
	'menu': document.getElementById('menu'),
	'padding': 256,
	'tolerance': 70,
	});


	// Toggle button
	document.querySelector('.toggle-button').addEventListener('click', function() {
	slideout.toggle();
	if(slideout.isOpen()){
	angular.element('#opacityContent').css('display', 'block');
	}
	else{
	angular.element('#opacityContent').css('display', 'none');
	}
	});

	document.querySelector('#opacityContent').addEventListener('click', function() {
	slideout.toggle();
	if(slideout.isOpen()){
	angular.element('#opacityContent').css('display', 'block');
	}
	else{
	angular.element('#opacityContent').css('display', 'none');
	}
})




</script>
