<!-- Includes menu -->
<ng-include src="'partials/menu.html'" ng-controller="menuCtrl"></ng-include> 


<div id="newEggView" ng-init="checkLoggedIn()" style="padding-top:20px; background-color:yellow;">
  <!-- Carousel -->
  <div id="carousel-example-generic" class="carousel slide" data-ride="carousel" data-interval="false">
    <!-- Indicators -->
    <ol class="carousel-indicators">
      <li data-target="#carousel-example-generic" data-slide-to="0" class="active"></li>
      <li data-target="#carousel-example-generic" data-slide-to="1"></li>
      <li data-target="#carousel-example-generic" data-slide-to="2"></li>
    </ol>

    <!-- Content of the carousel -->
    <div class="carousel-inner" role="listbox">
      <div class="item active" id="small">
        <div class="egg" id="smallEgg">Small</div>
      </div>
      <div class="item" id="medium">
        <div class="egg" id="mediumEgg">Medium</div>
      </div>
      <div class="item" id="large">
        <div class="egg" id="largeEgg">Large</div>
      </div>
    </div>

  <!-- Controls -->
    <span class="left carousel-control" href="#carousel-example-generic" data-slide="prev">
      <span class="glyphicon glyphicon-chevron-left"></span>
    </span>
    <span class="right carousel-control" href="#carousel-example-generic" data-slide="next">
      <span class="glyphicon glyphicon-chevron-right"></span>
    </span>
  </div> <!-- Carousel closed -->

  <!-- Select button -->
  <div class="selectSection">
    <button class="selectButton" type="button" ng-click="selectSize()">SELECT</button>
  </div>

</div> <!-- newEggView closed -->



<!-- The style had to be stored here for the carousel get all styling to follow -->
<style>
#carousel-example-generic{
  background-color: yellow;
}

.carousel-control.left{
  background-image: none;
}

.carousel-control.right{
  background-image: none;
}

.carousel-indicators .active{
  background-color: black;
}
.carousel-indicators > li{
  border: none;
  background-color: white;
}

.glyphicon{
  color: black;
  line-height: 0;
}

.item{
    height:370px;
    width:100%;
    float:left;
    position:relative;
    font-size: 36px;
    text-align: center;
    margin: auto;
    padding: 0;
}

.egg{
  background-color: white;
  border-radius: 50%;
  margin:auto;
  margin-top: 10px;
}

#largeEgg{
    height: 315px;
    width: 225px;
    padding-top: 130px;
}
#mediumEgg{
  height: 295px;
  width: 205px;
  padding-top: 120px;
}
#smallEgg{
  height: 275px;
  width: 185px;
  padding-top: 110px;
}

</style>





