<!-- Mina gamla ägg -->
<!-- Val av gammalt ägg leder till timer --> 
<style>
	.profileEgg{
		border-radius: 50%;
		height: 90px;
		width: 70px;
		background-color: white;
		padding-top:30%;
	}

	.eggFrame{
		text-align: center;
	}

	.container{
		padding:0px;
	}

	#panel{
		background-color: white;
		padding:10px;
	}

	#profile{
		height:100%;
		text-align: center;
	}

/*	.rating{
		background-image: url("images/star2.png");
		background-size: contain;
		background-repeat: no-repeat;
		background-position: center center;
		margin-left: 60px;
		width: 40px;
		height: 30px;
		padding-top: 5px;
	} */

	#starButton{
 	background: url('images/starWhite.png');
 	background-repeat: no-repeat;
 	background-size: 50px;
 	border: none;
 	font-size: 28px;
 }

 button{
	width: 10px;
	height: 10px;
}

</style>

<div class="container" style="background-color:yellow; height:100%;">

<ng-include src="'partials/menu.html'" ng-controller="menuCtrl"></ng-include> 

<!-- <h1>Your eggs</h1> -->

<div id="profile" ng-init="checkMenu()">
	<p>Choose one of your favorite eggs to cook again!</p>
</div>
<div class="col-xs-12" ng-init="initProfile()">
	<div class="row">
		<div class="col-xs-4 eggFrame" ng-click="boilAgain()" ng-repeat="egg in eggs">
			<div class="profileEgg" >
				<p>Size:{{egg.size}}<br/>
					Boil:{{egg.boil}}</p>
					<button id="starButton" type="button">{{egg.rating}}</button>
			</div>
		</div>
	</div>
</div>
</div>






