
<!-- Includes menu -->
<ng-include src="'partials/menu.html'" ng-controller="menuCtrl"></ng-include> 

<div class="container">
<!-- Profile -->
<div id="profileView" ng-init="initProfile()">
	<div ng-hide="eggs.length" style="text-align:center;"><h3>You have no saved eggs</h3></div>

	<div ng-show="eggs.length" id="profile">
		<p>Choose one of your favorite eggs to cook again!</p>
	</div>
	<div class="col-xs-12 eggsContainer">
		<div class="row eggRow" ng-repeat="egg in eggs">
			<div class="col-xs-2 eggPic">
				<div class="profileEgg"></div>
			</div>
			<div class="col-xs-8 eggInfo" ng-click="boilAgain(egg.size, egg.boil)">
				<!-- Egg information -->
				<div class="col-xs-12">
					<p class="p-custom">{{egg.size}} egg with {{egg.boil}} boil</p>
				</div>
				<!-- depending on egg.rating different amount of stars are displayed -->
				<div class="col-xs-12">
					<div class="col-xs-1 stari" ng-show="1 <= egg.rating">
						<img src="images/starWhite.png" width="10px" height="10px">
					</div>
					<div class="col-xs-1 stari" ng-show="2 <= egg.rating">
						<img src="images/starWhite.png" width="10px" height="10px">
					</div>
					<div class="col-xs-1 stari" ng-show="3 <= egg.rating">
						<img src="images/starWhite.png" width="10px" height="10px">
					</div>
					<div class="col-xs-1 stari" ng-show="4 <= egg.rating">
						<img src="images/starWhite.png" width="10px" height="10px">
					</div>
					<div class="col-xs-1 stari" ng-show="5 <= egg.rating">
						<img src="images/starWhite.png" width="10px" height="10px">
					</div>	
					<!-- The date the egg was added -->
					<div class="col-xs-6">
						<p class="p-smaller-custom">{{egg.date}}</p>
					</div>
				</div>
			</div>
			<!-- Remove button -->
			<div class="col-xs-2">
				<button type="button" class="remove" ng-click="removeEgg(egg)">X</button>
			</div>
		</div>
	</div>
</div>

</div>





