


<div id="rating">
	<button ng-click="saveEgg(1)" id="starButton" type="button">1</button>
	<button ng-click="saveEgg(2)" id="starButton" type="button">2</button>
	<button ng-click="saveEgg(3)" id="starButton" type="button">3</button>
	<button ng-click="saveEgg(4)" id="starButton" type="button">4</button>
	<button ng-click="saveEgg(5)" id="starButton" type="button">5</button>
</div>
<style>


button{
	width: 50px;
	height: 50px;
}

#rating{
	background-color: #FFF684;
	text-align: center;
	margin-top: 70px;
}
 #starButton{
 	background: url('images/starWhite.png');
 	background-repeat: no-repeat;
 	background-size: 50px;
 	border: none;
 	font-size: 28px;
 }

 #starButton:hover{
 	color: #FFF684;
 }


</style>

