<!-- Välja mjukt till hårt. Genereras en tid. Knapp för starta timer --> 
<!-- eyecandy! -->
<style>
.noUi-target{
	border:2px solid black;
}

.noUi-origin{
	background-color: yellow;
}

.noUi-handle{
	border: 1px solid black;
	background-color: white;
}
</style>

<div id="startBoilView" ng-init="initSlider()">
	<ng-include src="'partials/menu.html'" ng-controller="menuCtrl"></ng-include> 
	
	<div id="setTime">
		<a href="#/newegg" type="button" class="backButton"><img width="40px" height="40px" src="images/back.png"></a>
		<p>Egg size: {{eggSize}}</p>
		<h3>Softness: {{softness}}</h3>
		<p>Time: {{eggTime/60}} min</p>
	</div>


	<div id="slider"></div>

	<div id="endOfPage">
		<div class="selectSection">
  			<button class="selectButton" type="button" ng-click="goToTimer()">SELECT</button>
		</div>
	</div>

	<!-- TOG BORT DETTA SÅ LÄNGE OM VI VILL HA LIKA DAN KNAPP PÅ BÅDA SIDOR -->
	<!-- <a href="#/timer"> -->
		<!-- <svg id="eggTimer" ng-disabled="timerRunning">
			<ellipse id="ellipseEgg" class="animateEgg"></ellipse>
			<circle id="circleEgg" class="animateEgg"></circle>
			<text class="animateText" x="130" y="80">TO TIMER!</text>
		</svg> -->
	<!-- </a> -->
</div>





