<!-- Välja mjukt till hårt. Genereras en tid. Knapp för starta timer --> 
<!-- eyecandy! -->

<!-- Save egg dyker upp. Ng-include -->

<div ng-show="wannaSave" class="col-xs-4" style="height:300px;width:250px;border:3px solid black;border-radius:5px;padding-top:100px;text-align:center;font-weight:bold;background-color:#C9EAF3;margin-left:48px;margin-bottom:0px;" >

	<p ng-init="initRating()">How was your egg?</p>
	<div id="el"></div>
<!--	<button type="button" class="btn btn-default" ng-click="saveEgg()">Save egg</button> -->

</div>

<!-- <div class="col-md-12">
<div id="slider" style="margin-top:20px;">
  <input type="range" class="custom" min="6" max="10" step="0.5" style="width:200px;height:10px;color:black;">
</div>
 -->

<div id="countDown" style="text-align:center;">
<timer countdown="1" interval="1000" autostart="fale">{{mminutes}} minute{{minutesS}} : {{sseconds}} second{{secondsS}}</timer>
<div id="finishText"></div>
<audio id="audio1" src="egg.m4a"></audio>
</div>


<svg width="210" height="400" ng-click="startTimer()" ng-disabled="timerRunning" style="margin-left:15px;">
		<ellipse class="animateEgg" cx="160" cy="80" rx="40" ry="60"
  		style="fill:white;stroke:grey;stroke-width:2;"></ellipse>
  		<circle class="animateEgg" cx="160" cy="80" r="20" fill="yellow" style="opacity:0.4;"/>
  		<text class="animateText" x="130" y="80" style="font-size:10px;font-weight:bold;">START BOIL!</text>
</svg>

</div>


<!-- Slask -->

<!-- <button ng-click="startTimer()" ng-disabled="timerRunning">Start Boil!</button>


<div id="countDown" style="text-align:center;">
	<p ng-bind="counter"></p>
</div>







