<!-- Välja mjukt till hårt. Genereras en tid. Knapp för starta timer --> 
<!-- eyecandy! -->
<style>
	.start::before{
	  content:"Start";
	}
	.stop::before{
	  content:"Stop";
	  background-color: red;
	}
	.resume::before{
	  content:"Resume";
	  background-color: green;
	}
</style>

<ng-include src="'partials/menu.html'" ng-controller="menuCtrl"></ng-include>
<div id="countDown">
	<a href="" type="button" class="backButton" ng-click="goBack()"><img width="40px" height="40px" src="images/back.png"></a><br/></br>
	<timer id="timer" autostart="false" countdown="eggTime" interval="1000">{{mminutes}} minute{{minutesS}} : {{sseconds}} second{{secondsS}}</timer>
	<audio id="audio1" preload loop>
		<source src="egg.mp3" type="audio/mp3">
	</audio>
	<div id="stopTimer">
		<button class="timerButton"  ng-click="startStop()" ng-class="{start:operation==='start', stop:operation==='stop', resume:operation==='resume'}"></button>
	</div>
</div>



<div ng-show="wannaSave" class="saveEgg">
	<div id="saveOptions" ng-show="chooseSave">
		<p>Your egg is finished!</p>
		<button class="saveButtons" ng-click="showRating()">SAVE</button>
		<button class="saveButtons" ng-click="dontSave()">DON'T SAVE</button>
	</div>
	<div id="rating" ng-show="rating">
		<p>Rate your egg before saving</p>
		<button ng-click="saveEgg(1)" class="starButton" type="button">1</button>
		<button ng-click="saveEgg(2)" class="starButton" type="button">2</button>
		<button ng-click="saveEgg(3)" class="starButton" type="button">3</button>
		<button ng-click="saveEgg(4)" class="starButton" type="button">4</button>
		<button ng-click="saveEgg(5)" class="starButton" type="button">5</button>
	</div>
</div>

<div class="tipsQueue" ng-show="animate">
	<div class="tips" id="t1"></div>
	<div class="circle" id="c1">
		<div class="tipsText" id="text1"></div>
	</div>
	<div class="tips" id="t2"></div>
	<div class="circle" id="c2">
		<div class="tipsText" id="text2"></div>
	</div>
	<div class="tips" id="t3"></div>
	<div class="circle" id="c3">
		<div class="tipsText" id="text3"></div>
	</div>
	<div class="tips" id="t4"></div>
	<div class="circle" id="c4">
		<div class="tipsText" id="text4"></div>
	</div>
		<div class="tips" id="t5"></div>
	<div class="circle" id="c5">
		<div class="tipsText" id="text5"></div>
	</div>
		<div class="tips" id="t6"></div>
	<div class="circle" id="c6">
		<div class="tipsText" id="text6"></div>
	</div>

</div>


