@font-face{
    font-family: "Buda";
    src: url(Buda-Light.ttf);
}
body{
	font-family: "Buda";
  overflow-x: hidden;
}

.container{
  width: 100%;
  height: 100%;
  margin: 0;
  padding: 0;
}

/* back button */
.backButton{
  margin-left: 10px;
  padding-top: 20px;
}

/*LOGIN IN PAGE */
#startEgg{
  background-color: yellow;
  border-radius: 50%;
  height: 250px;
  width: 250px;
  margin-left: 50px;
  padding-top: 100px;
  text-align: center;
  font-size: 36px;
}

#appName > h1{
  text-align: center;
  padding-top: 100px;
  margin-bottom: 50px;
}

/**** MENU ****/ 
#menuHeader{
height: 80px;
width: 100%;
background-color: white;
border-bottom: 1px solid black;
}
#menu > a{
  color: black;
}
#menu > a:hover{
  color: yellow;
}
#menu > a > h2{
  margin-left: 10px;
}
.activeMenu{
    text-decoration: underline;
}
.toggle-button{
  margin-left: -26px;
}
#opacityContent{  
  height: 600px;
  width: 400px;
  background-color:yellow;
  display: none;
  opacity: 0.7;
}

/*Slide out part */
.slideout-menu {
  position: fixed;
  left: 0;
  top: 0;
  bottom: 0;
  right: 0;
  z-index: 0;
  width: 256px;
  overflow-y: auto;
  -webkit-overflow-scrolling: touch;
  display: none;
}
.slideout-panel {
  position:relative;
  z-index: 1;
  will-change: transform;
}
.slideout-open,
.slideout-open body,
.slideout-open .slideout-panel {
  overflow: hidden;
}
.slideout-open .slideout-menu {
  display: block;
}

/*Menu content */
#panel{
    z-index: 1;

}
#panel > header{
	margin-left: 0px;
  margin-bottom: 0px;
}
#burger{
  margin-top: 5px;
}
#menu{
  background-color: white;
  border-right: 1px solid black;
  z-index: 1;
}
#menu > h2{
  background-color: white;
  border: 1px solid #f2f2f2;
  margin: 0px;
  height: 50px;
  padding-top: 10px;
  padding-left: 15px;
}
#menu > h2:hover{
  background-color: yellow;
}
#profilePic{
	margin-top: 40px;
	margin-left: 90px;
  height:70px;
  width:70px;
  border-radius: 35px;
}


/**** VIDEOS ****/
.categories{
  margin-left: 26px;
}
.videos{
  width: 100%;
  height: 600px;
  background-color:yellow;  
}

.eggVideos{
  margin-left: 35px;
}

#chooseCategory{
  margin-top: -10px;
}

#chooseCategory > h4{
  padding-top: 20px;
  margin-left: 26px;
}

/* Categories */
.categoryButton{
	background-color: white;
	border: 1px solid black;
	border-radius: 10px;
	height: 40px;
	width: auto;
	font-size: 16px;
  margin-top: 0px;
}

.categoryButton:hover{
  background-color: yellow;
}
/*Line break between videos */
#line{
	background-color: black;
	height: 1px;
	width: 100%;
	margin-top: 10px;
  margin-left: -12px;
}

/**** NEW EGG PAGE ****/

/*Är i html-filen, funkade inte annars med carousel grejen :( */



/* PROFILE PAGE */
#profileView{
  height: 100%;
  width: 100%;
  margin: 0;
  padding: 0;
  background-color: yellow;
}

#profile{
  height:100%;
  text-align: center;
}

.eggsContainer{
  margin:0;
  padding: 0;
  background-color: yellow;
}

.eggRow{
  margin-bottom:5px;
  padding:0px;
  border: 2px solid white;
}

.profileEgg{
  border-radius: 50%;
  height: 50px;
  width: 35px;
  background-color: white;
  margin-top: 10px;
}

.p-custom{
  font-size: 18px;
    padding-top: 10px;
  margin-bottom:5px;
  margin-top:5px;
}

.p-smaller-custom{
  font-size: 12px;
  margin:0px;
}

.row{
  margin:0px;
}

.stari{
  padding:0px;
}

.remove{
  background-color: red;
  border: none;
  margin-top: 20px;
  height: 30px;
  width: 30px;
  border-radius: 30%;
}

/* START BOIL PAGE */
#startBoilView{
  width: 100%;
  height: 100%;
  background-color: yellow;
  margin: 0;
}

#setTime{
  width: 100%;
  height: 150px;
  padding-top: 10%;
  background-color: yellow;
  font-weight: bold;
  text-align: center;
}

#eggTimer{
  width: 210px;
  height:400px;
  margin-left: 5%;
  margin-top: 20px;
  z-index: -1;
}
#ellipseEgg{
  fill: white;
  stroke: black;
  stroke-width: 2px;
  cx: 160;
  cy: 80;
  rx: 40;
  ry: 60;
 }

#circleEgg{
  opacity: 0.7;
  z-index: -1;
  cx: 160;
  cy: 80;
  r:20;
  fill: yellow;
}

.animateText{
  font-size: 10px;
  font-weight: bold;
}

/*TIMER PAGE*/

#countDown{
  width: 100%;
  height: 100px;
  padding-top: 10%;
  background-color: white;
  font-weight: bold;
  text-align: center;
  border-bottom: 4px solid yellow;
}

#stopTimer{
  padding-top: 10px;
}
#stop{
  height: 30px;
  width: 100px;
  background-color: red;
  border: none;
  border-radius: 5%;
}

#continue{
  height: 30px;
  width: 100px;
  background-color: green;
  border: none;
  border-radius: 5%;
}


.saveEgg{
  width: 400px;
  border:3px;
  border-radius:5px;
  padding:50px;
  text-align:center;
  font-weight:bold;
  background-color: yellow;
}

.saveButtons{
  height: 30px;
  width: 100px;
  border: 1px solid black;
  background-color: white;
}

.saveButtons:hover{
  background-color: yellow;
}

#rating{
  background-color: yellow;
  text-align: center;
  margin-top: 70px;
}
 .starButton{
  background: url('images/starWhite.png');
  background-repeat: no-repeat;
  background-size: 50px;
  border: none;
  font-size: 28px;
  width: 50px;
  height: 50px;
 }

 .starButton:hover{
  color: #FFF684;
 }



.tips {
    width: 0px;
    height: 0px;
    margin-left: 50px;
    margin-top: 0px;
    background-color: yellow;
    border: 2px solid yellow;
    border-radius: 5px;
}

.circle{
  width: 0px;
  height: 0px;
  border-radius: 50%;
  border: 2px solid rgb(255, 255, 153);
  background-color:rgb(255, 255, 153); 
  margin-left: 32px;
  margin-top:-10px;
  margin-bottom: 0px; 
  z-index: -1;
  opacity: 0;
}

.tipsText{
  width: 400px;
  height: 100px;
  margin-left: 60px;
  margin-top: 8px;
  font-weight: bold;
  font-family: Arial, Helvetica, sans-serif;
  z-index: -1;

}

/*Denna används ej ?*/
#finishText{
  margin-left: 108px;
  margin-top: -200px;
  color:black;
  font-size:15px; 
  font-weight:bold;

}
