@font-face{
    font-family: "Buda";
    src: url(Buda-Light.ttf);
}
body{
	background-color: #f2f2f2;
	font-family: "Buda";
  overflow-x: hidden;
}
#container{
	text-align: center;
}

#header > h2{
	text-align: center;
	padding-top: 0px;
}

/**** MENU ****/ 

/*Slide out part */
.slideout-menu {
  position: fixed;
  left: 0;
  top: 0;
  bottom: 0;
  right: 0;
  z-index: 0;
  width: 256px;
  overflow-y: auto;
  -webkit-overflow-scrolling: touch;
  display: none;
}
.slideout-panel {
  position:relative;
  z-index: 1;
  will-change: transform;
}
.slideout-open,
.slideout-open body,
.slideout-open .slideout-panel {
  overflow: hidden;
}
.slideout-open .slideout-menu {
  display: block;
}

/*Menu content */
#panel{
    z-index: 1;

}
#panel > header{
	margin-left: 0px;
  margin-bottom: 0px;
}
#menu{
  background-color: white;
  border-right: 1px solid black;
  z-index: 1;
}
#menu > h2{
  background-color: white;
  border: 1px solid #f2f2f2;
  margin: 0px;
  height: 50px;
  padding-top: 10px;
  padding-left: 15px;
}
#menu > h2:hover{
  background-color: yellow;
}
#profilePic{
	margin-top: 40px;
	margin-left: 90px;
}
#profileMenu > h1{
	padding-left: 15px;
}
#myEggs{
	padding-left: 10px;
}


/**** VIDEOS ****/
.buttonCss{
  margin-left: 26px;
}
.videos{
  width: 100%;
  height: 600px;
  background-color:rgb(255, 255, 153);  
}

.eggVideos{
  margin-left: 35px;
}

#chooseCategory{
  margin-top: -10px;
}

#chooseCategory > h4{
  padding-top: 20px;
  margin-left: 26px;
}

/* Categories */
.categoryButton{
	background-color: white;
	border: 1px solid black;
	border-radius: 10px;
	height: 40px;
	width: auto;
	font-size: 16px;
  margin-top: 0px;
}

.categoryButton:hover{
  background-color: yellow;
}


/*Line break between videos */
#line{
	background-color: black;
	height: 1px;
	width: 100%;
	margin-top: 10px;
  margin-left: -12px;
}

/**** NEW EGG ****/

/* Egg */
.egg{
	border: 2px solid black;
	border-radius: 50%;
	background-color: white;
	margin-bottom: 0px;
}
#smallEgg{
    height: 80%;
    width: 150px;
    text-align: center;
    margin-left: 27%;
}
#mediumEgg{
  height: 90%;
  width: 170px;
  text-align: center;
  margin-left: 25%;
}
#largeEgg{
  height: 100%;
  width: 200px;
  text-align: center;
  margin-left: 22%;

}
#eggDiv{
  height: 300px;
  width: 100%;
  text-align: center;
}
.egg > h2{
  text-align: center;
  color: yellow;
  font-size: 40px;
  padding-top: 40%;
}

/*Egg size */
.sizeButton{
  border: 1px solid black;
  border-radius: 50%;
  width: 50px;
  height: 50px;
  background-color: white;
  text-align: center;
  margin-right: 15px;
}
#buttons{
  text-align: center;
  margin-bottom: 20px;
  margin-top: 20px;
  height: 5%;

}
#nextButton{
  border: 1px solid black;
  border-radius: 5%;
  width: 100px;
  height: 50px;
  background-color: white;
  text-align: center;
  font-size: 18px;
}
button{
  background-color: white;
}
/*Bottom of new egg page */
#bottom{
  height: 10%;
}

/*Timer stuff*/

.tips {
    width: 0px;
    height: 0px;
    margin-left: 50px;
    margin-top: 0px;
    background-color: yellow;
    border: 2px solid yellow;
    border-radius: 5px;
}

.circle{
  width: 0px;
  height: 0px;
  border-radius: 50%;
  border: 2px solid rgb(255, 255, 153);
  background-color:rgb(255, 255, 153); 
  margin-left: 32px;
  margin-top:-10px;
  margin-bottom: 0px; 
  z-index: -1;
  opacity: 0;
}

.tipsText{
  width: 400px;
  height: 100px;
  margin-left: 60px;
  margin-top: 8px;
  font-weight: bold;
  font-family: Arial, Helvetica, sans-serif;
  z-index: -1;

}

.saveEgg{
  width: 400px;
  border:3px;
  border-radius:5px;
  padding:50px;
  text-align:center;
  font-weight:bold;
  background-color:rgb(255, 255, 153);
  margin-top:-300px;

}

#countDown{
  width: 400px;
  height: 100px;
  background-color:rgb(255, 255, 153);
  padding-top: 10%;
  font-weight: bold;
  text-align: center;
}

.tipsQueue{
  margin-top: -405px;
}

#finishText{
  margin-left: 108px;
  margin-top: -200px;
  color:black;
  font-size:15px; 
  font-weight:bold;

}
