<div class="col-md-12" ng-init="">	
	<div class="row">
			<h2>{{videoRightNow.title}}</h2>
			<p>Rating: {{video.rating}}</p>

			<youtube-video video-id=video.id></youtube-video>

			<button type="button" ng-click="addRating(1, {{video.id}})">1</button>
			<button type="button" ng-click="addRating(2), {{video.id}}">2</button>
			<button type="button" ng-click="addRating(3), {{video.id}}">3</button>
			<button type="button" ng-click="addRating(4), {{video.id}}">4</button>
			<button type="button" ng-click="addRating(5), {{video.id}}">5</button>

  			Comment: <input type="text" name="comment"><br>
  			<input type="submit" value="Add comment" ng-click="">
	</div>
</div>